*{
	margin: 0;
	padding: 0;
}

h1{
	text-shadow: red 10px 15px 8px;
}
div.box {
	width: 500px;
	height: 500px;
	border-top: 1px dotted red;
	box-shadow: black 10px 5px 8px;
	/* mau nen */
	/* background-color: pink; */
	/* anh nen */
	/* background-image: url('../images/icon.png');
	background-repeat: no-repeat; */
	/* background-repeat: repeat-x; */
	/* background-repeat: repeat-y; */
	/* background-repeat: repeat; */
	/* background-position: center center;
	background-attachment: scroll;
	background-size: 100% 100%; */
	background: pink url('../images/icon.png') no-repeat center center;
}

div.box-2{
	width: 500px;
	height: 500px;
	border: 1px solid red;
	margin-top: 100px;
}
div.box-2 h3 {
	/* padding-top: 50px; */
	margin-top: 50px;
	background-color: yellow;
}
div.box-3 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
	/* margin-top: 50px; */
	padding: 50px 0px 0px 0px;
}

div.box-4, div.box-5, div.box-6{
	width: 200px;
	height: 200px;
	border: 1px solid red;
	display: inline-block;
}
div.box-7 a {
	margin-left: 100px;
	/* display: block; */
	display: list-item;
}
/* css menu */












